table {
  box-shadow: 2px 8px 20px #ddd;
  margin: 60px auto 40px;
  width: 80%;
  border-spacing: 0;
}

.trTitulos {
  border: 1px solid #ddd;
}

.trContenido {
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 25% 20% 20% 20%;
  grid-template-areas: "img nombre talles cant precio";
  align-items: center;
  border: 1px solid #ddd;
}

th {
  font-size: 20px;
}

.t-img {
  grid-area: img;
}

.t-img img {
  width: 100px;
}

.t-nombre {
  grid-area: nombre;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.t-talles {
  grid-area: talles;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.t-talles span {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #ddd;
}

.t-cant {
  text-align: center;
}

.t-cantidad {
  grid-area: cant;
  text-align: center;
}

.t-precio {
  grid-area: precio;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.botonRojo {
  width: 80px;
  background-color: crimson;
  font-size: 16px;
  margin: 10px;
  border-radius: 2px;
}

.botonNegroTerminarCompra {
  background-color: #000000;
  width: 200px;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 28px;
}

.botonNegroVolverAProd {
  background-color: #000000;
  width: 200px;
  font-size: 18px;
  padding: 15px 10px;
  border-radius: 28px;
}

.boton:active {
  position: relative;
  top: 1px;
}

.carrito-terminarCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrito-terminarCompra span {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .trContenido {
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 25% 15% 20% 25%;
    grid-template-areas: "img nombre talles cant precio";
    align-items: center;
    border: 1px solid #ddd;
  }

  .t-img img {
    width: 50px;
  }

  .t-talles {
    flex-direction: column;
  }

  .botonRojo {
    width: 80px;
    height: 25px;
    background-color: crimson;
    font-size: 10px;
    margin: 2px;
    border-radius: 2px;
  }
}

@media only screen and (max-width: 500px) {
  table {
    width: 100%;
  }

  .trContenido {
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 25% 15% 20% 25%;
    grid-template-areas: "img nombre talles cant precio";
    align-items: center;
    border: 1px solid #ddd;
  }

  th {
    font-size: 14px;
    font-weight: 400;
  }

  .t-img img {
    width: 40px;
  }

  .botonRojo {
    width: 50%;
    font-size: 10px;
    margin: 2px;
    border-radius: 2px;
  }

  .t-nombre {
    grid-area: nombre;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .t-talles span {
    font-size: 14px;
  }

  .t-precio {
    margin: 2px;
  }

  .t-precio span {
    font-size: 16px;
  }

  .botonRojo {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .t-cantidad {
    font-size: 16px;
  }
}
