.footer {
  margin: 40px 0 0;
  padding: 40px 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .redes {
  display: flex;
}

.footer .redes img {
  width: 40px;
  margin: 20px 10px;
  cursor: pointer;
}

.footer .links {
  display: flex;
}

.footer .links a {
  text-decoration: none;
  margin: 10px 10px;
}

.footer .links span {
  color: white;
  cursor: pointer;
}

.footer .derechos {
  color: white;
  margin: 20px 0;
  cursor: pointer;
}

.footer .derechos h5 {
  margin: 0px;
}
