.padre-portada {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portada {
  background: url("../../componentes-img/sneaker/mas/jordan1turquesa.png");
  width: 100%;
  height: 600px;
  background-size: cover;
  margin: 0px auto 60px;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: start;
}

.portada .portada-detalles {
  margin: 0px 30px 30px 30px;
}

.portada .portada-detalles h2 {
  color: white;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.portada .portada-detalles p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 0px 50px;
}

.titulo h2,
h3 {
  font-size: 45px;
  letter-spacing: -1px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.productos {
  margin: 20px 60px;
  display: grid;
  grid-template-columns: 2% 30% 3% 30% 3% 30% 2%;
  grid-template-areas: ". texto . img1 . img2 .";
  align-items: center;
  justify-items: center;
}

.img1 {
  grid-area: img1;
  width: 100%;
}
.img2 {
  grid-area: img2;
  width: 100%;
}

.productos2 {
  margin: 20px 60px;
  display: grid;
  grid-template-columns: 2% 30% 3% 30% 3% 30% 2%;
  grid-template-areas: ". img3 . img4 . texto2 .";
  justify-items: center;
  align-items: center;
}
.img3 {
  grid-area: img3;
  width: 100%;
}
.img4 {
  grid-area: img4;
  width: 100%;
}

.productos img {
  padding: 10px;
}

.productos2 img {
  padding: 10px;
}

.home-flex {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 40px;
}

.home-flex h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}

.home-flex img {
  margin: 0 auto;
}

.home-flex p {
  margin: 10px 0 25px;
}

.home-flex2 {
  grid-area: texto2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 40px;
}

.home-flex2 h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}

.home-flex2 p {
  margin: 10px 0 25px;
}

.home-flex2 img {
  margin: 0 auto;
}

.home-boton {
  background-color: black;
  border-radius: 28px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 0;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}

.home-boton:active {
  position: relative;
  top: 1px;
}

@media only screen and (max-width: 1100px) {
  .productos {
    margin: 20px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "texto img1";
    align-items: center;
    justify-items: center;
  }

  .img1 {
    grid-area: img1;
    width: 100%;
  }
  .img2 {
    display: none;
  }

  .productos2 {
    margin: 20px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img3 texto2";
    justify-items: center;
    align-items: center;
  }
  .img3 {
    grid-area: img3;
    width: 100%;
  }
  .img4 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .productos {
    margin: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "texto" "img1";
    align-items: center;
    justify-items: center;
  }

  .img1 {
    grid-area: img1;
    width: 70%;
    margin: 50px 0;
  }

  .productos2 {
    margin: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "texto2" "img3";
    justify-items: center;
    align-items: center;
  }
  .img3 {
    grid-area: img3;
    width: 70%;
    margin: 50px 0;
  }
}

@media only screen and (max-width: 450px) {
  .img1 {
    grid-area: img1;
    width: 100%;
    margin: 50px 0;
  }
  .img3 {
    grid-area: img3;
    width: 100%;
    margin: 50px 0;
  }
}
