@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vollkorn", serif !important;
}

.app {
  width: 100%;
  margin: 0 auto;
}
